In [128]:
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np
import matplotlib.pyplot as plt 
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
import sklearn.preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from scipy.stats import stats
import pickle
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [129]:
data = pd.read_csv('../data/data_cleaned.csv', index_col=0)

In [130]:
zdf = data.groupby(['zipcode']).mean()
zdf = zdf.reset_index()

In [131]:
cols = list(zdf.columns)
cols.remove('price')
cols.remove('zipcode')

In [132]:
zdf = zdf.drop(columns=cols)

In [142]:
pd.options.display.float_format = '${:,.2f}'.format
zdf.sort_values(by='price', ascending=False).head()

    zipcode         price
24    98039 $2,161,300.00
3     98004 $1,358,522.48
25    98040 $1,183,230.70
48    98112 $1,094,695.12
41    98102   $899,607.67

In [134]:
zdf['price'].mean()

560774.7874477451

In [135]:
# All zipcode numerical values
zips = zdf['zipcode'].values

In [136]:
# Import Xtrain in order to get zip columns
xt = pd.read_csv('../data/X_train.csv', index_col=0)
xtc = xt.columns
xtc

Index(['zipcode_98002', 'zipcode_98003', 'zipcode_98004', 'zipcode_98005',
       'zipcode_98006', 'zipcode_98007', 'zipcode_98008', 'zipcode_98010',
       'zipcode_98011', 'zipcode_98014', 'zipcode_98019', 'zipcode_98022',
       'zipcode_98023', 'zipcode_98024', 'zipcode_98027', 'zipcode_98028',
       'zipcode_98029', 'zipcode_98030', 'zipcode_98031', 'zipcode_98032',
       'zipcode_98033', 'zipcode_98034', 'zipcode_98038', 'zipcode_98039',
       'zipcode_98040', 'zipcode_98042', 'zipcode_98045', 'zipcode_98052',
       'zipcode_98053', 'zipcode_98055', 'zipcode_98056', 'zipcode_98058',
       'zipcode_98059', 'zipcode_98065', 'zipcode_98070', 'zipcode_98072',
       'zipcode_98074', 'zipcode_98075', 'zipcode_98077', 'zipcode_98092',
       'zipcode_98102', 'zipcode_98103', 'zipcode_98105', 'zipcode_98106',
       'zipcode_98107', 'zipcode_98108', 'zipcode_98109', 'zipcode_98112',
       'zipcode_98115', 'zipcode_98116', 'zipcode_98117', 'zipcode_98118',
       'zipcode_98119', 'zipcode_98122', 'zipcode_98125', 'zipcode_98126',
       'zipcode_98133', 'zipcode_98136', 'zipcode_98144', 'zipcode_98146',
       'zipcode_98148', 'zipcode_98155', 'zipcode_98166', 'zipcode_98168',
       'zipcode_98177', 'zipcode_98178', 'zipcode_98188', 'zipcode_98198',
       'zipcode_98199', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15', 'attic'],
      dtype='object')

In [137]:
zips69 = np.array(zips_as_cols)
zips70 = np.array(zips)

for z in zips70:
    if np.isin(z, zips69) == False:
        print(z)
    else:
        pass

98001

In [138]:
len(zips_as_cols)

69

In [139]:
len(zips)

70

One hot encoding removed __zipcode 98001__ with __mean of $/280,881.19__.  The population mean equals $560,774.78

In [140]:
2.808812e+05

#280,000

280881.2

In [143]:
# zip 98039, mean price 2,161,300.00

In [146]:
21613000/280000

77.18928571428572